# License 
***
Copyright (C) 2017 J. Patrick Hall, jphall@gwu.edu

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

***
# Simple imputation - Pandas and numpy

## Imports

In [7]:
import pandas as pd              # pandas for handling mixed data sets 
import numpy as np               # numpy for basic math and matrix operations

#### Create sample data set

In [8]:
scratch_df = pd.DataFrame({'x1': [0, 1, 2, 3, np.nan, 5, 6, 7, np.nan, 8, 9]}) 

scratch_df

     x1
0   0.0
1   1.0
2   2.0
3   3.0
4   NaN
5   5.0
6   6.0
7   7.0
8   NaN
9   8.0
10  9.0

#### Impute

In [10]:
scratch_df['x1_impute'] = scratch_df.fillna(scratch_df.mean())
scratch_df

     x1  x1_impute
0   0.0   0.000000
1   1.0   1.000000
2   2.0   2.000000
3   3.0   3.000000
4   NaN   4.555556
5   5.0   5.000000
6   6.0   6.000000
7   7.0   7.000000
8   NaN   4.555556
9   8.0   8.000000
10  9.0   9.000000