# License 
***
Copyright (C) 2017 J. Patrick Hall, jphall@gwu.edu

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

***
# Simple standardization - Pandas and numpy

## Imports

In [2]:
import pandas as pd              # pandas for handling mixed data sets 
import numpy as np               # numpy for basic math and matrix operations

#### Create sample data set

In [3]:
# create a data frame containing variables of disparate scale
scratch_df = pd.DataFrame({'x1': pd.Series(np.random.choice(1000, 20)),
                           'x2': pd.Series(np.random.choice(20, 20))}) 

scratch_df

     x1  x2
0    68  18
1   106   3
2   878   2
3   791   7
4   812  12
5   348  13
6   209  10
7   818  17
8   525   9
9   125   0
10  423   3
11  411   5
12  859   6
13  908  18
14  953  16
15  567  11
16  105   4
17  590  18
18  145   2
19  425   9

#### Standardize

In [6]:
# create a deep copy 
# so this cell can be run many times w/o error
scratch_df1 = scratch_df.copy()

# loop through columns
# create new column
# apply z-score formula to new column
for col_name in scratch_df.columns:
    new_col_name = col_name + '_std'
    scratch_df1[new_col_name] = (scratch_df[col_name] - scratch_df[col_name].mean())/scratch_df[col_name].std()

# new variables are on the same scale
scratch_df1

     x1  x2    x1_std    x2_std
0    68  18 -1.402092  1.467988
1   106   3 -1.279695 -1.020127
2   878   2  1.206901 -1.186002
3   791   7  0.926675 -0.356630
4   812  12  0.994316  0.472742
5   348  13 -0.500218  0.638616
6   209  10 -0.947934  0.140993
7   818  17  1.013642  1.302114
8   525   9  0.069895 -0.024881
9   125   0 -1.218496 -1.517750
10  423   3 -0.258645 -1.020127
11  411   5 -0.297296 -0.688379
12  859   6  1.145702 -0.522504
13  908  18  1.303530  1.467988
14  953  16  1.448474  1.136239
15  567  11  0.205176  0.306868
16  105   4 -1.282916 -0.854253
17  590  18  0.279259  1.467988
18  145   2 -1.154076 -1.186002
19  425   9 -0.252203 -0.024881